// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

// Variables
@import 'variables';

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.background-image {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
    background-size: cover !important;
    filter: brightness(0.6) contrast(85%);
}
.navbar {
    background-color: rgba(255,255,255,0.9) !important;
}
.ml-auto {
    margin-left: auto !important;
}
.navbar-nav {
    a {
        text-decoration: none;
        font-size: 20px;
    }
}
.add-track {
    color: rgba(255,255,255,0.9);
    width: 100%;
    border-radius: 5px;
    margin-bottom: 25px;
    background-color: rgba(255,255,255,0.2);
    border-color: transparent;
    &:hover, &:focus, &:active {
        background-color: rgba(255,255,255,0.4) !important;
        border-color: transparent !important;
        box-shadow: transparent !important;
    }
}
.pagination {
    .disabled > .page-link {
        color: rgba(255, 255, 255, 0.4);
        background-color: rgba(255, 255, 255, 0.2);
        border-color: transparent;
    }
    .page-link {
        color: white;
        background-color: rgba(255, 255, 255, 0.4);
        border-color: transparent;
        &:focus {
            border-color: transparent;
            box-shadow: none;
        }
    }
    .active > .page-link {
        border-color: transparent;
        background-color: rgba(0, 0, 0, 0.4);
    }
}
.track-card {
    color: rgba(255,255,255,0.8);
    display: flex;
    height: 170px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 90px;
    background: rgba(255,255,255,0.15);
    box-shadow: -3px 5px 5px 0 rgba(5, 5, 5, 0.2);
    margin-bottom: 20px;
    position: relative;
    .bubble-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(255,255,255,0.8);
        width: 64px;
        height: 64px;
        border-radius: 90px;
        background: rgba(255,255,255,0.2);
        position: absolute;
        font-size: 26px;
        right: 0;
        margin-bottom: 50px;
        transform: translateX(15px);
        &:hover {
            cursor: pointer;
            background: rgba(255,255,255,0.4);
        }
    }
    .bubble-top {
        top: 20px;
    }
    .bubble-bottom {
        top: 90px;
    }
}
.track-card__header {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.track-card__image {
    margin: 10px;
    border-radius: 90px;
    filter: brightness(0.9) contrast(85%);
}
.track-card__title {
    transform: translateX(-8px);
    font-weight: 100;
    font-size: 34px;
    margin: 0;
}
.track-card__name {
    transform: translateX(4px);
    font-weight: 100;
    font-size: 18px;
    margin: 5px 0 0 0;
}
