.social {
    background: white;
}
.social-bar__card p {
    color: white;
}
.social-bar__card {
    background-color: rgba(0,0,0,0.3);
}
.cover__desc {
    background-color: rgba(0,0,0,0.3);
    border-radius: 10px;
}
